body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

html body.display-head, body.display-head .layout { background-color: #9c101a; }

html, body, .layout {
	height: 100%; 
}

.layout {
	color: #fff;
	overflow: hidden;
	width: 100%;
}

.layout-head {
	text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
    padding: 35px 0 0;
}

.layout-head h1 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

body.display-head .layout .layout-container {
	background-color: #f6f1e0;
	border-radius: 20px;
	margin: 30px;
	padding: 50px;
	text-align: center;
}

.layout-container {
	padding: 50px;
	text-align: center;
}

.popup, .popup-parameter {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup .popup-bg, .popup-parameter .popup-parameter-bg {
    background-color: #000; 
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: relative;
    top: 0;
    width: 100%;
}

.popup .popup-container {
    background-color: #fff;
    border-radius: 10px; 
    top: 50%;
    left: 50%;
    height: 280px;
    margin: -170px 0 0 -170px;
    position: absolute;
    width: 280px;
    padding: 40px;
}

.popup-parameter .popup-parameter-container {
    background-color: #fff;
    border-radius: 10px; 
    top: 50%;
    left: 30%;
    height: 380px;
    margin: -170px 0 0 -170px;
    position: absolute;
    width: 60%;
    padding: 40px;
}

.btn {
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom, #fff, #e6e6e6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #b3b3b3;
    border-image: none;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333;
    cursor: pointer;
    display: inline-block;
    font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    line-height: 45px;
    margin: 0 15px 50px 15px;
    overflow: hidden;
//    padding: 48px 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    width: 480px;
    height: 188px;
}

.btn.active, .btn:active {
    background-image: none;
    background-color: #E6E6E6;
    color: #333333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}

.panel-button {
	height: 60px;
	width: 54px;
}

.panel-button p {
	font-size: 44px;
	width:100%;
	padding:2px;
}