.print {
	display: none;
}

.seccode {
	width: 50;
}
	
.bottom-buttons {
	padding-top: 10px;
	clear: both;
}

.star {
	color: Red;
}

td {
	vertical-align: top;
}

div.floated {
	margin-left: 5px;
	margin-right: 10px;
	float: left;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 200px;
}


/* стиль для попапа терминала */
.popup {
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.popup .popup-bg {
    background-color: #000; 
    height: 100%;
    left: 0;
    opacity: 0.65;
    position: relative;
    top: 0;
    width: 100%;
}

.popup .popup-container {
    background-color: #fff;
    border-radius: 10px; 
    top: 30%;
    left: 50%;
    height: 350px;
    margin: -170px 0 0 -170px;
    position: absolute;
    width: 280px;
    padding: 40px;
}

.tab {
    float: left;
}

.warn {
    float: left;
    width: 100px;
}

table td.name {
    padding-right: 10px;
    text-align: right;
}

.error, .red {
	color: red;
}

.advert {
	font: 11px "Trebuchet MS",Arial,sans-serif;
	text-align: center;
	width: 99%;
	height: 18px;
	clear: both;
}

.time {
	display: inline-block;
	white-space: nowrap;
//	float:right;
	margin-right: 10px;
}

.time  select {
	float: left;
}

.time-records {
	float: left;
}

.office select {
	max-width: 800px;
}

.hasError {
	color: RED;
}

