body, td {
	background-color: White;
	font: normal 13px "Trebuchet MS", Arial, sans-serif; 
	color: #000000;}
	
.box {
	padding-top: 20px;
	padding-left: 20px;}

p, h2 {
	padding-left: 5px;}
	
.last {
	text-align:center;
    width: 100%;
}

.error, .red {
	color: RED;}

h2 {
	font-family: Georgia, Arial;
    font-size: 18px;
    font-weight: normal;}

.inputText, .inputText keyboardInput {
	width: 400;}

select, input, .error {
	font: 13px "Trebuchet MS",Tahoma,sans-serif;}

td {
	text-decoration: none;
}

table.border tr td {
	border: 1px solid;
}

.info {
	padding-left: 2px;
	width: 70%;}

.small {
	font-size:60%;
}

a {color: #00749e;}

a:hover { 
	text-decoration: underline !important; 
	color:red;
}

.repList td {
	padding: 3px;
}