body {
	margin: 0px;
	padding: 0px;
}

body, table {
	font: normal 9pt Verdana, Arial, Helvetica, sans-serif;
	color: #4A4A4A;
	background-color: white;
}
	
h2 {
	font-size: 18px;
}

.box {
	padding-top: 10px;
	padding-left: 10px;
}

input[type=text] {
	width: 400px;
}

select {
	min-width: 400px;
	max-width: 400px;
}

.time select.time {
	max-width: 250px;
	min-width: 150px;
}

.time select {
	max-width: 300px;
	min-width: 200px;
}

select, input, .error, button {
	font: 12px Verdana, Arial, Helvetica, sans-serif;
}

a:hover { 
	text-decoration: underline !important; 
	color: red;
}

table.info td {
	padding: 3px;
}


fieldset {
	border: 2px solid;
	border-color: #4A4A4A;
	padding-bottom: 10px; 
}

.advert, .advert a {
	color: #4A4A4A;
}
